h1 {
  line-height: 1.5;
}

.nav-container {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #1D1E20;
  color: #DADADB;
}

.nav-container .nav-item{
  text-decoration: none;
  color: #DADADB;
}

.nav-container .logo {
  font-size: 1rem;
  font-weight: bold;
}

.cta-btn {
  background-color: #FFCC1A;
  color: #1D1E20;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.hero-container .profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.about-img {
  width: 100%;
  overflow: hidden;
  height: 500px;
  object-fit: cover;
  border: 2px solid #DADADB;
  filter: grayscale(30%);
  transition: all 0.5s ease-in-out;
}

.about-img:hover{
  filter: grayscale(0%);
  transform: scale(1.02);
}

.skills-container .grid-skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 767px) {
  .skills-container .grid-skills {
    grid-template-columns: repeat(2, 1fr);
  }
}

.skill-card{
  background-color: #DADADB;
  color: #1D1E20;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  cursor: context-menu;
}

.skill-card p{
  margin-bottom: 0;
}

.skills-container .grid-skills i {
  font-size: 1.5rem;
}

.skills-container .grid-skills .html:hover {
  background-color: #E34F26;
}

.skills-container .grid-skills .css:hover {
  background-color: #264DE4;
}

.skills-container .grid-skills .js:hover {
  background-color: #F7DF1E;
}

.skills-container .grid-skills .react:hover {
  background-color: #61DAFB;
}

.skills-container .grid-skills .node:hover {
  background-color: #339933;
}

.skills-container .grid-skills .java:hover {
  background-color: #f89820;
}

.skills-container .grid-skills .python:hover {
  background-color: #3776AB;
}

/* Projects */
.projects-container {
  padding: 2rem 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 900px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-card {
  border: 1px solid #e6e6e6;
  padding: 20px;
  border-radius: 5px;
}

.project-card a{
  text-decoration: none;
  color: #DADADB;
}

.project-card .project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.project-card .folder-icon {
  font-size: 35px;
  color: #FFCC17;
}

.project-header .small-icons {
  display: flex;
  gap: 0 5px;
}

.project-card .small-icons a {
  margin-right: 5px;
  cursor: pointer;
  transition: all .5s ease;
}

.project-card .small-icons a:hover {
  color: #FFCC17;
}

.project-card .project h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card .project p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #b3b3b3;
}